
element.style {
}
#primary-menu-list li.menu-item:hover {
    cursor: pointer;
}
#primary-menu-list>li.menu-item {
    position: relative;
    white-space: nowrap;
    margin-right: 1.75em;
}
*, *::before, *::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased!important;
    -moz-osx-font-smoothing: grayscale!important;
    text-rendering: optimizeLegibility!important;
}
user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
#primary-menu-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin-bottom: 0;
    color: #282b30;
    font-weight: 600;
    padding-left: 3em;
}
user agent stylesheet
ul {
    list-style-type: disc;
}
#masthead {
    --masthead-x-padding: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: calc(max((100% - var(--masthead-x-padding) - 1400px)/2,0px) + var(--masthead-x-padding));
    padding-right: calc(max((100% - var(--masthead-x-padding) - 1400px)/2,0px) + var(--masthead-x-padding));
    z-index: 1001;
}
.elementor-kit-104783 {
    --e-global-color-primary: #00BC8F;
    --e-global-color-secondary: #686A6E;
    --e-global-color-text: #282B30;
    --e-global-color-accent: #FEBE3C;
    --e-global-color-2436ead: #576EE7;
    --e-global-color-5b9daef: #FFFFFF;
    --e-global-color-c412629: #00BC8F17;
    --e-global-color-2137e35: #FEBE3C21;
    --e-global-color-f2cf05d: #C6C6C6;
    --e-global-color-846f99a: #F4F4F4;
    --e-global-color-a73bcfa: #64CFFE;
    --e-global-color-8a15325: #E50567;
    --e-global-typography-primary-font-family: "proxima-nova";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-primary-line-height: 1.1em;
    --e-global-typography-secondary-font-family: "proxima-nova";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-secondary-line-height: 1.3em;
    --e-global-typography-text-font-family: "proxima-nova";
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-text-line-height: 1.3em;
    --e-global-typography-accent-font-family: "proxima-nova";
    --e-global-typography-accent-font-weight: 500;
    --e-global-typography-accent-line-height: 1.3em;
    line-height: 1.4em;
}
body {
    margin: 0;
    padding: 0;
    color: #282b30;
    font-size: 16px;
    line-height: 1.6em;
    position: relative;
    font-family: proxima-nova,sans-serif;
}
:root {
    --swiper-navigation-size: 44px;
}
:root {
    --swiper-theme-color: #007aff;
}
:root {
    --page-title-display: block;
}
:root {
    --wp--preset--font-size--normal: 16px;
    --wp--preset--font-size--huge: 42px;
}
#primary-menu-list>li.menu-item:hover:before, #primary-menu-list>li.menu-item.active:before {
    transform: scaleX(1);
    transform-origin: left;
}