*{
    margin: 0;
    padding: 0;
    outline: none;
    appearance: none;
    border: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

input, button, a {
    font-family: "proxima-nova",sans-serif;
    font-size: 16px;
    font-weight: 600;
}

body{
    background: rgba(0, 0, 0, 0.2);
}

.container-fluid{
    margin: 0;
    padding: 0;
}

header{
    margin: 0;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 78px;
    background: white;
}

.site-logo a img{
    height: 3.7rem;
    width: auto;
}

#site-navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

#site-navigation nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

#site-navigation .menu-wrapper{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
    position: relative;
    padding: 0;
}

.menu-wrapper li{
    padding: 10px 15px;
    margin: 0;
}

.menu-wrapper li a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #282B30;
    font-size: 16px;
    cursor: pointer;
}

#menu-item-6{
    background: #FEBE3C;
    border-radius: 25px;
    padding: 5px 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

#menu-item-6 a{
    font-size: 15px;
    color: white;
}

#menu-item-7 a{
    color: #00BC8F;
}

.submenu{
    position: absolute;
    background: white;
    width: 300px;
    border-radius: 10px;
    padding: 16px 10px;
    margin: 0;
}

.submenu li{
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    padding: 16px;
}

.submenu a{
    display: flex;
    flex-direction: column;
}

.submenu a span{
    text-align: left;
    width: 100%;
}

.submenu .menu-item-name{
    font-size: 14px;
}

.submenu .menu-item-icon{
    width: auto;
}

.submenu .menu-item-icon img{
    width: 16px;
    height: 16px;
}

.flex a{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}

.submenu .inline{
    flex-direction: column;
}

.submenu .menu-item-description{
    color: #686A6E;
    font-weight: normal;
    font-size: 14.5px;
    line-height: 20px;
}

#submenu-item-1b .menu-item-name{
    color: #00BC8F;
}

#submenu-item-1c .menu-item-name{
    color: #FEBE3C; 
}

#submenu-item-1d .menu-item-name{
    color: #64CFFE;
}

#submenu-item-4c a{
    width: 80%;
}

#menu-item-4 .menu-item-name{
    font-size: 15px;
}

/* .menu-wrapper li a:after{
    content: "";
    position: absolute;
    background: cyan;
    height: 3px;
    width: 0;
    transition: 0.3s; 
    left: 0;
}*/

/* .container-grid{
    display: flex;
    height: 400px;
    align-content: flex-start;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 10px;
} */

/* .title{
    font-weight: bolder;
    font-family: "proxima-nova", sans-serif;
} */