*{
    margin: 0;
    padding: 0;
    outline: none;
    appearance: none;
    border: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

input, button, a {
    font-family: "proxima-nova",sans-serif;
    font-size: 16px;
    font-weight: 600;
}

body{
    background: rgba(0, 0, 0, 0.2);
}

.container-fluid{
    margin: 0;
    padding: 0;
}

header{
    margin: 0;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 78px;
    background: white;
}

.site-logo a img{
    height: 3.7rem;
    width: auto;
}

#site-navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

#site-navigation nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

#site-navigation .menu-wrapper{
    display: flex;
    height: 100%;
    align-items: center;
    margin: 0;
}

.menu-wrapper li{
    padding: 10px 15px;
    margin: 0;
}

.menu-wrapper li a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #282B30;
    font-size: 16px;
}

#menu-item-6{
    background: #FEBE3C;
    border-radius: 25px;
    padding: 5px 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

#menu-item-6 a{
    font-size: 15px;
    color: white;
}

#menu-item-7 a{
    color: #00BC8F;
}

/* .menu-wrapper li a:after{
    content: "";
    position: absolute;
    background: cyan;
    height: 3px;
    width: 0;
    transition: 0.3s; 
    left: 0;
}

.menu-wrapper li a:hover:after{
    width: 100%;
} */